AddDefaultCharset UTF-8

php_flag display_startup_errors on
php_flag display_errors on
php_flag html_errors on


RewriteEngine on
RewriteBase /

DirectoryIndex /index.php
ErrorDocument 404 /index.php

#301 редирект со страниц без слеша на слеш
RewriteCond %{REQUEST_URI} !\?
RewriteCond %{REQUEST_URI} !\&
RewriteCond %{REQUEST_URI} !\=
RewriteCond %{REQUEST_URI} !\.
RewriteCond %{REQUEST_URI} !\/$
RewriteRule ^(.*[^\/])$ /$1/ [R=301,L]


RewriteRule ^vetta/$ vetta.php [L]
RewriteRule ^contacts/$ contacts.php [L]
RewriteRule ^wherebuy/$ WhereBuy.php [L]
